@media screen and (max-width: 800px) {
    #dates{
        font-size: 20px;
    }
    #socket_for_rocket{
        display:none;
    }

    .child-container{
        height:auto;
    }

    #title_view{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10px;
        width:100%;
        margin: auto;
        color:white;
        align-items: center;
        height:auto;
    }

    #logo {
        grid-column: 1 / span 10;
        width:100%;
        height: 65vh;
        padding:15px;
    }

    #inlogo{
        transform: scale(3)
    }

    #this_is_if{
        grid-column: 1 / span 9;
        width:100%;
        text-align: center;
        height: auto;
        font-size: 20px;
    }

    #give_me_email{
        grid-column: 2 / span 8;
        width:100%;
        text-align: center;
        height: auto;

    }

    #button_daba_na{
        grid-column: 1 / span 10;
        width:100%;
        text-align: center;
        height: auto;
        font-size: 20px;
        padding: 0px;
    }

    #sponsor_us{
        grid-column: 1 / span 10;
        width:100%;
        text-align: center;
        height: auto;
        font-size: 20px;
        margin-bottom: 70px;
        padding: 0px;
    }

    .centre-container {
        padding-top: 10px;
    }

    #about_by_akshay,#video_by_rushang{
        grid-column: auto / span 12;
        margin-bottom: 20px
    }

    .box-header{
        font-size: 28px;
        color:aqua;
        text-align: center;
    }

    .box-contents{
        color: aliceblue;
        font-size:18px;
        margin-top:20px;
        text-align: center;
    }

    #ramanujan{
        margin-top: 20px;
    }

    .rect-future{
        grid-column: auto / span 2;
    }

    .fa{
        margin-top: 15px;
        font-size: 18px;
    }

    .rect-future-inner{
        margin: 5px;
        font-size: 25px;
    }

    .stats-title{
        font-family: 'Bitter', serif;
        margin-bottom: 1vw;
        font-size: 18px;
    }

    #view-3{
        padding-top:35px;
    }

    #sponsor-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-gap: 10px;
        width:95%;
        margin: auto;
        color:white;
        align-items: center;
        padding: 5px;
    }

    .sponsor-rect-future{
        height: auto;
    }

    .sponsor-rect-future:after{
        background: -webkit-linear-gradient(left,
                    aqua 0%,
                    aqua calc(50% - 148px),
                    rgba(255, 255, 255, 0) calc(50% - 148px),
                    rgb(255, 255, 255, 0) calc(50% + 52px),
                    aqua calc(50% + 52px),
                    aqua 100%);

    }

    .pass_s:after{
        background: -webkit-linear-gradient(left,
                    aqua 0%,
                    aqua calc(50% - 148px),
                    rgba(255, 255, 255, 0) calc(50% - 148px),
                    rgb(255, 255, 255, 0) calc(50% + 42px),
                    aqua calc(50% + 52px),
                    aqua 100%);
    }

    .curr_s:after{
        background: -webkit-linear-gradient(left,#0ff 0,#0ff calc(50% - 48px),rgba(255,255,255,0) calc(50% - 38px),
        rgb(255,255,255,0) calc(50% + 145px),#0ff calc(50% + 148px),#0ff 100%);
    }

    .faq-rect-future{
        width:80%;
        height: 567px;
        background-image: linear-gradient(rgba(0,255,255,0.05),rgba(0, 255, 255, 0.25));
        /* -webkit-clip-path: polygon(35% 0, 38% 1%, 62% 1%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0); */
        /* clip-path: polygon(35% 0, 38% 1%, 62% 1%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0); */
        /* border: 3px solid; */
        text-align: center;
        position: relative;
        border-top: 3px solid;
        border-left: 3px solid;
        border-right: 3px solid;
        border-bottom: 3px solid;
        border-color: aqua;
    }


    .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
        border: none;
    }
    .faq-qans_mob{
      background-color: black !important;
    }
    .q_mob{
      font-size: 203%;
    }
    .ans_mob{
      font-size: 180%;
    }

    .ps{
        font-size: 18px;
    }

    .sponsorlogo:nth-child(n){
        grid-column: auto / span 3;
    }

    .sponsorlogo:nth-child(1){
        grid-column: auto / span 6;
    }

    .sponsorlogo:nth-child(2){
        grid-column: auto / span 6;
    }
    .sponsorlogo:nth-child(11){
        grid-column: 4 / span 3;
    }

    .tier{
        font-size: 20px;
    }

    .call_karna{
        width:90%;
        padding-top: 0px;
    }

    #reach{

    margin-bottom: 20px;
    }

    #contact{
        grid-column: 1 /  11;
        background-image: radial-gradient(rgba(0,255,255,0.05),rgba(0,255,255,0.2));
        border: 3px solid;
        border-color: aqua;
        text-align: center;
        width:100%;
        height: 100%;
        padding:15px;
    }

    #contact_shelf{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 50px;
        width:90%;
        margin: auto;
        align-items: center;
    }
    .socialbtns{
        grid-column: 1 /  13;
    }

    .shelf {
        display: block;
        grid-column: 2 /  12;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .fab,.fas {
        font-size:50px;

    }

    .heart{
        font-size: 20px;
    }

    #made_by{
        font-size: 20px;
    }

    #particles-js{
        height: 120%;
    }
    .faq-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 0px;
    }
    #accordion{

        grid-template-columns: repeat(1, 1fr);

      }

}
