
.t{
        width: 100vw;
		color:white;
        .container {
                padding-top:10%;
                height:auto;
                background-color:#000009;
                 position: relative;

             &__about{
                margin:0px;
                padding:0px;
                position:relative;
                top:-40px;
                text-align:center;
                line-height:30px;
                letter-spacing:1px;
                font-size:14px;
                padding-left:10%;
                padding-right:10%;

                }
                table{

                    td{
                        text-align:center;
                        padding:3px;
                    }
                }
                
          

        }
}

.im{
    position:relative;
    text-align:center;

           padding-left:5px;

}
@media only screen and (min-width: 300px) and (max-width: 350px)
        {
           .im{
           padding-left:0px;
           padding-top:50px;
           }
           td{
              text-align:center;
              padding:0px;
             }
        }
@media only screen and (min-width: 350px) and (max-width: 400px)
        {
           .im{
           padding-left:5%;
           padding-top:50px;
           }
        }

@media only screen and (min-width: 400px) and (max-width: 699px)
        {
           .im{
           padding-left:10%;
           padding-top:50px;
           }
        }   
@media only screen and (min-width: 700px) and (max-width: 1000px)
        {
           .im{
           padding-left:30%;
           padding-top:50px;
           }
        }
@media only screen and (min-width: 1010px) and (max-width: 1200px)
        {
           .im{
           padding-left:35%;
           padding-top:50px;
           }
        }
@media only screen and (min-width: 1200px) and (max-width: 1600px)
        {
           .im{
           padding-left:39%;
           padding-top:50px;
           }
        }
@media only screen and (min-width: 1600px) and (max-width: 2000px)
        {
           .im{
           padding-left:42%;
           padding-top:50px;
           }
        }
@media only screen and (min-width: 2000px) and (max-width: 2500px)
        {
           .im{
           padding-left:43%;
           padding-top:50px;
           }
        }
@media only screen and (min-width: 2500px)
        {
           .im{
           padding-left:45%;
           padding-top:50px;
           }
        }
