.about{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-white);
    overflow-x: hidden;
    border: .5rem solid var(--color-black);
    
    &__content{
        max-width: 75rem;
        padding-top: 3rem;
        margin:0 auto;
        text-align: center;
        font-size: 1.2rem;
    }

    &__pics{
        padding: 4rem;
        display: flex;
        align-content: center;
        justify-content: center;
        
        &__card{
            margin: 1rem;
            img{
                height: 75px;
                width: auto;
            }
        }

        &__title{
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-device-width: 650px) {
    .about{
        &__content{
            max-width: 300px;
            padding-top: 0;
        }

        &__pics{
            padding: 2rem;
            &__card{
                img{
                    height: 40px;
                }
            }


            &__title{
                font-size: 1rem;
            }
        }
    }
    
}