.backanimation{
    z-index: -10;
    position: fixed;

    &__container{
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background:radial-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0.5));
    }

    &__rectangle{
        &--1{
            top: 15%;
            left: 25%;
            width: 100px;
            height: 100px;
            border: 1rem solid var(--color-primary);
            animation: animate1 5s cubic-bezier(0, 1.2, 0, 1.24) infinite;
        }
        &--2 {
            top: 50%;
            left: 42.5%;
            width: 0px;
            height: 0px;
            border: 0rem solid var(--color-primary);
            animation: animate1 5s cubic-bezier(0, 1.2, 0, 1.24) infinite;
        }
        &--3 {
            top: 20%;
            left: 70%;
            width: 70px;
            height: 70px;
            border: 1rem solid var(--color-primary);
            animation: animate1 5s cubic-bezier(0, 1.2, 0, 1.24) infinite;
        }
        &--4 {
            top: 45%;
            left: 60%;
            width: 0px;
            height: 0px;
            border: 0rem solid var(--color-primary);
            animation: animate1 5s cubic-bezier(0, 1.2, 0, 1.24) infinite;
        }
        &--5{
            top: 30%;
            right: 5%;
            width: 150px;
            height: 150px;
            border: 1rem solid var(--color-primary);
            animation: animate1 5s cubic-bezier(0, 1.2, 0, 1.24) infinite;
        }
    }
    &__circle {
        &--1 {
            top: 50%;
            left: 30%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            border: 0rem solid var(--color-secondary-light);
            animation: animate2 5s cubic-bezier(0, 1.24, 0, 1.24) infinite;
        }

        &--2{
            top: 35%;
            left: 15%;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 1rem solid var(--color-tertiary);
            animation: animate2 5s cubic-bezier(0, 1.24, 0, 1.24) infinite;
        }
        &--3 {
            top: 60%;
            left: 25%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            border: 0rem solid var(--color-tertiary);
            animation: animate2 5s cubic-bezier(0, 1.24, 0, 1.24) infinite;
        }
        &--4 {
            top: 60%;
            right: 20%;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1rem solid var(--color-tertiary);
            animation: animate2 5s cubic-bezier(0, 1.24, 0, 1.24) infinite;
        }
        &--5{
            top: 60%;
            left: 5%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1rem solid var(--color-tertiary);
            animation: animate2 5s cubic-bezier(0, 1.24, 0, 1.24) infinite;
        }
    }
}

@keyframes animate1 {
    0% {
        border-color: var(--color-primary);
        border-radius: 0%;
    }
    35% {
        border-color: var(--color-secondary);
    }
    50% {
        border-radius: 50%;
    }
    70% {
        border-color: var(--color-primary);
    }
    100% {
        border-color: var(--color-primary);
        border-radius: 0%;
    }
}

@keyframes animate2{
    0%{
        border-color: var(--color-secondary);
        border-radius: 50%;
    }
    35%{
        border-color: var(--color-primary);
    }
    50% {
        border-radius: 0%;
    }
    70%{
        border-color: var(--color-secondary);
    }
    100%{
        border-color: var(--color-secondary);
        border-radius: 50%;
    }
}

@media screen and (max-device-width: 650px) {
    .backanimation{
        display: none;
        }
}
