.floatbutton{
    position: fixed;
    bottom: 40px;
    right: 0px;
    z-index: 9999;
    width: 50px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    line-height: 37px;
    background: var(--color-primary-dark);
    color: #e0e0e0;
    cursor: pointer;
    border: 0;
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    &__show{
        opacity: 1;
        pointer-events: all;
        &:hover {
            background: rgba(0,0,0,0.6);
        }
    }
}