.pasthackathon {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    border: 0 solid var(--color-black);
    background-attachment: fixed;
    backface-visibility: hidden;
    position: relative;
    &__button {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem 5rem;
        cursor: pointer;
        color: var(--color-white);
        font-size: 2rem;
        background-color: var(--color-primary);
        border-radius: 3rem;
        transition: all .5s ease-in-out;
        &:hover {
            box-shadow: 0rem .5rem 1.25rem -0.2rem rgba(0, 0, 0, 1);
            transform: translate(-50%, calc(-50% - .5rem));
        }
    }
}

@media screen and (max-device-width: 650px) {
    .pasthackathon__button {
        font-size: 1rem;
    }
}