.biggertabwrap {
    width: 75%;
    overflow: hidden;
    margin: auto;

    .tabwrap {
        width: 201%;
        display: flex;

        section {
            //display: none;
            padding: 2.5rem;
            border-top: 1px solid var(--color-tertiary-dark);
            box-sizing: border-box;
            width: 100%;
        }
    }

    input {
        display: none;
    }

    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 0.7rem 1.8rem;
        font-weight: 600;
        text-align: center;
        color: var(--color-white);
        border: 1px solid transparent;
        background-color: var(--color-primary);
        transition: 0.8s;
        border: 2px solid var(--color-tertiary-dark);
    }

    label[for="tab1"] {
        border-radius: 0.5rem 0rem 0rem 0rem;
        border-right: 0;
    }

    label[for="tab2"] {
        border-radius: 0rem 0.5rem 0rem 0rem;
        transform: translate(-6%, 0);
        border-left: 0;
    }

    label:before {
        font-weight: normal;
        margin-right: 10px;
    }

    label:hover {
        cursor: pointer;
    }

    input:checked+label {
        color: var(--color-white);
        background-color: var(--color-primary-dark);
        //border-top: 2px solid orange;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .95);
    }

    input[id="tab1"]:checked~.tabwrap {
        transform: translateX(0);
    }

    input[id="tab2"]:checked~.tabwrap {
        transform: translateX(-50.5%);
    }

    .tabcontent {
        border: .1rem solid var(--color-tertiary-dark);
        border-radius: 0 0 0.4rem 0.4rem;
        outline-offset: 25px;
        background-color: rgba($color: #000, $alpha: 0.6);
        //padding:2rem;
    }

    #content2 {
        margin-left: 1%;
    }
}
