.about {
    color: #fff;
    background-image: url('/assets/about-hack8.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0 0 5rem 0;
}


.about-header {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
    font-size: 4rem;
    transform: translateX(0.5rem);
}

.AboutUsLeftStreak, .AboutUsRightStreak {
    position: absolute;
    margin-top: 5rem;
    height: 35rem;

    @media (max-width: 768px) {
        display: none;
    }
}

.AboutUsLeftStreak {
    left: 6rem;
}

.AboutUsRightStreak {
    right: 6rem;
}

@media (max-width: 1120px) {
    .about-header {
        font-size: 3rem;
    }
}

@media (max-width: 1005px) {
    .about-header {
        margin-top: 4rem;
        font-size: 2rem;
    }
}

@media (max-width: 905px) {
    .about-header {
        margin-top: 4.5rem;
        font-size: 1.7rem;
    }
}

@media (max-width: 865px) {
    .about-header {
        margin-top: 4.5rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 805px) {
    .flashback-header {
        margin-top: 4.7rem;
        font-size: 1.2rem;
    }
}

.about-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    max-width: 45%;
    margin-left: 8rem;
    margin-top: 2rem;
    font-size: 2rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        max-width: 100%;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}