.flashback {
    color: #fff;
    padding: 0 0 5rem 0;
    background-image: url('/assets/flashback-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.flashback-header {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
    font-size: 4rem;
}

@media (max-width: 1000px) {
    .flashback-header {
        font-size: 3rem;
    }
}

@media (max-width: 700px) {
    .flashback-header {
        font-size: 2rem;
    }
}

@media (max-width: 865px) {
    .flashback-header {
        font-size: 2.4rem;
    }
}

.flashback-video {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    margin-top: 3rem;
    padding: 0 6rem;
}

.AboutUsLeftStreak, .AboutUsRightStreak {
    position: absolute;
    margin-top: 5rem;
    height: 35rem;
}

@media (max-width: 768px) {
    .AboutUsLeftStreak, .AboutUsRightStreak {
        display: none;
    }
}

.AboutUsLeftStreak {
    left: 6rem;
}

.AboutUsRightStreak {
    right: 6rem;
}

.iframe-container {
    position: relative;
    width: 80%; 
    max-width: 900px; 
    aspect-ratio: 16 / 9; 
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe {
    position: relative;
    width: calc(100% - 2rem); 
    height: calc(100% - 2rem);
    border: none;
}

.iframe-border {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    pointer-events: none;
}