.flashback {
    color: #fff;
    padding: 0 0 5rem 0;
}

.flashback-header {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
    font-size: 4.5rem;
}

.flashback-video {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
}

.AboutUsLeftStreak, .AboutUsRightStreak {
    position: absolute;
    margin-top: 5rem;
    height: 35rem;
}

.AboutUsLeftStreak {
    left: 2rem;
}

.AboutUsRightStreak {
    right: 2rem;
}