*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --color-primary: #fc427b;
    --color-primary-dark: #b33771;
    --color-secondary: #0062c5;
    --color-secondary-light: #1b9cfc;
    --color-tertiary: #ffa700;
    --color-tertiary-dark: #b37500;
    --color-white: #fff;
    --color-black: #222;
    --color-gray: #ccc;
    background-color: var(--color-white);
    color: var(--color-black);
  }

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}