.faq-container {
    width: 75%;
    padding: 3%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    /* font-size: 18px; */
    border: 1px solid gray;
}
.q {
    font-size: 1.4rem;
    font-weight: 600;
}
.q:hover {
    cursor: pointer;
}
.icon {
    float: right;
    /* color: #2196f3; */
}
.answer {
    margin-left: 10px;
    padding: 10px;
    border-left: 5px solid #2196f3;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
}
.open {
    display: block;
    opacity: 1;
    height: auto;
    transition: all 0.5s ease-in;
}
@media (max-width: 768px) {
    .faq-container {
        width: 80%;
    }
    .answer {
        font-size: 14px;
        margin: 10px 0 10px 10px;
    }
    .q {
        font-size: 16px;
    }
}
