:root {
    --red: #FD4556;
    --dark-red: #BD3944;
    --maroon: #53212B;
    --white: #FFFBF5;
    --black: #000000;

    --overlay-height: 85vh;
    --overlay-width: 85vw;
}
*{
    box-sizing: border-box;
}
body {
    background-color: var(--black);
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}


.overlay {
    background-color: var(--white); 
    height: var(--overlay-height);
    width: var(--overlay-width);
    position:absolute;
    overflow:hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}
.inner-responsive-page {
    height: var(--overlay-height);
}

/* adjust the logo please */
.logo{
    max-width: 200px;
    margin-left: 10vw;
    margin-top: 5px;
}



/* Navbar */
.navbar{
    background: #171717;
}
.nav-item .nav-link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FD4556;
    display: inline-block;
    padding-top: 15px;
    box-sizing:border-box; 
}
.nav-item .nav-link:after { 
    width: 100%; 
    padding-bottom: 5px;
}
.nav-item .nav-link:hover{
    border-bottom: 2px solid #FD4556;
    width: 100%;

}

h1 {
    text-align: center;
  }
  
.stats {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
  }

.stat {
    font-size: 1.4em;
    padding: 15px;
    border: 2px ridge #FD4556;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px  #FD4556;
    display: inline;
    text-align: center;
    height: 20vh;
    width: 30vh;
    text-shadow: none;
}

/* .stat:hover {
    transform: scale(1.1);
    animation: transform 1.5s;
} */

.number:hover, .term:hover {
     text-shadow: 0 0 4px #FD4556;
}

/* SVGs */
.elipseLeftTop svg{
    max-width: 50%;
    max-height: 570px;
    height: 50%;
}

.elipseRightWhite svg{
    position: absolute;
    right: 4%;
    top: 1%;
    max-width: 120px;
    max-height: 120px;
    width: 50%;
    height: 50%;

}
.circleRightRed svg{
    position: absolute;
    right: 15%;
    top: 1%;
    max-width: 35px;
    max-height: 35px;
}

.circleRightGray svg{
    position: absolute;
    right: 4%;
    top: 20%;
    max-width: 35px;
    max-height: 35px;
}
.elipseLeftWhite svg{
    position: absolute;
    left: 4%;
    bottom: -8.5%;
    max-width: 150px;
    max-height: 150px;
    height: 40%;
    width: 40%;
}

.circleLeftGray svg{
    position: absolute;
    left: 4%;
    bottom: 7%;
    max-width: 35px;
    max-height: 35px;
    height: 90%;
    width: 90%;
}
h2 {
    font-size: 28px;
    font-weight: normal;
}

.number {
    display: flex;
    text-align: center;
    justify-content: center;
}

.bigCircleRightGray svg{
    position: absolute;
    max-width: 40%;
    max-height: 40%;
    right: -10%;
    bottom: 0%;
}