@import url('http://fonts.cdnfonts.com/css/valorant');

@font-face {font-family: "Tungsten Bold"; src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot"); src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.svg#Tungsten Bold") format("svg"); }

:root {
    --red: #fd4556;
    --dark-red: #bd3944;
    --maroon: #53212b;
    --white: #fffbf5;
    --black: #000000;
    /* button colors */
    --background-color: #0f1923;
    --neon-red: #fd0e35;
    --white-valo: #ece8e1;
    --black-matt: #171717;
    --overlay-height: 90vh;
    --overlay-width: 90vw;
    --inner-responsive-page-height: 86vh;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    /* background-color: #0f1923; */
    background-color: #0d1a27;
    height: var(--overlay-height);
    width: var(--overlay-width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    .overlay {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    .inner-responsive-page {
        min-height: 90vh !important;
        scroll-margin: 80px;
    }
}


.inner-responsive-page {
    min-height: var(--inner-responsive-page-height);
    scroll-margin: 80px;
}

/* buttons */

.btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7d8082;
    --button-background-color: #ece8e1;
    --highlight-color: #66ff66;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s ease;
}

.btn::before,
.btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all 0.15s ease;
    outline: 0;
}

.btn:focus {
    box-shadow: none;
}

.btn::before {
    top: 0;
    border-bottom-width: 0;
}

.btn::after {
    bottom: 0;
    border-top-width: 0;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:active::before,
.btn:active::after {
    right: 3px;
    left: 3px;
}

.btn:active::before {
    top: 3px;
}

.btn:active::after {
    bottom: 3px;
}

.btn__inner {
    position: relative;
    display: block;
    padding: 1vw 2vw;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
}

.btn__inner::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all 0.2s ease;
}

.btn__slide {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: var(--neon-red);
    transform: skew(-15deg);
    transition: all 0.2s ease;
    color: black;
}

.btn__content {
    position: relative;
}

.btn:hover {
    color: black;
    box-shadow: 0 0 15px 1px var(--neon-red);
    transform: scale(1.01);
    animation: transform 0.5s;
}

.btn--selected .btn__inner {
    background-color: var(--neon-red);
}

.btn--selected .btn__content {
    color: var(--black);
}

.sponsor-wrapper{
    overflow: hidden;
}

.sponsor-wrapper-in {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 60vh !important;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}

#current-sponsor h3 {
    color: white;
    margin-top: 32px;
    margin-bottom: 0px;
}

.img-place a img {
    max-height: 70px;
    max-width: 100%;
}

.sponsor-wrapper-in::-webkit-scrollbar {
    width: 0.5rem;
    
}

.sponsor-wrapper-in::-webkit-scrollbar-track {
    background: 0 0
}

.sponsor-wrapper-in::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 1rem;
    padding:0.25rem;
}

.sponsor-wrapper-in::-webkit-scrollbar-thumb:hover {
    background: var(--red);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b99c9;
}

.btn:hover .btn__slide {
    width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
}

.btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--neon-red);
    --button-inner-border-color: var(--neon-red);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
}

/* end of buttons */

.logo {
    max-width: 230px;
    margin-left: 2vw;
    /**/
    margin-top: 0px;
    /**/
}

.btn--light:focus {
    outline: 0px;
}

/* Navbar */

.navbar {
    background: var(--black-matt);
}

#flex-nav-item1 {
    flex: 1;
}

#flex-nav-item2 {
    padding-right: 20px;
}

.navbar-brand > img {
    max-width: 42px;
}

.nav-item .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white-valo);
    display: inline-block;
    padding-top: 15px;
    box-sizing: border-box;
    font-weight: bold;
    /**/
    margin-left: 2px;
    /**/
    margin-right: 2px;
    /**/
    font-family: "VALORANT", sans-serif;
}

.nav-item .nav-link:after {
    width: 100%;
    padding-bottom: 5px;
}

.nav-item .nav-link:after,
.nav-item .nav-link:before {
    transition: 0.5s;
}

.menu__link:hover {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.nav-link .nav-item {
    position: relative;
}

.nav-item .nav-link {
    transition: all 0.5s;
}

.navbar-toggler {
    border-color: var(--dark-red);
    margin-left: 5px;
    margin-right: 20px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(189,57,68)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.section-heading {
    text-align: center;
    font-size: 55px;
    /* color: var(--red); */
    color: #F0CDCD;
    font-family: "Tungsten Bold";
    /* width and color */
}

.stats {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    color: #ece8e1;
}

.stat-icon {
    margin-bottom: 10px;
}

.stat {
    font-size: 2.5vh;
    padding: 2rem;
    border: 2px ridge #fd4556;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px #fd4556;
    display: inline;
    text-align: center;
    width: 30vh;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat:hover {
    transform: scale(1.01);
    box-shadow: inset 0 0 15px var(--red);
    animation: all 1.5s;
}

.number:hover,
.term:hover {
    text-shadow: 0 0 3px var(--red);
}

/* 
#stats {
    background-image: url(/2018/assets/H4.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

#stats .fa {
    color: var(--red);
    background: transparent !important;
}

/* SVGs */

.elipseLeftTop svg {
    max-width: 50%;
    max-height: 570px;
    height: 50%;
}

.elipseRightWhite svg {
    position: absolute;
    right: 4%;
    top: 1%;
    max-width: 120px;
    max-height: 120px;
    width: 50%;
    height: 50%;
}

.circleRightRed svg {
    position: absolute;
    right: 15%;
    top: 1%;
    max-width: 35px;
    max-height: 35px;
}

.circleRightGray svg {
    position: absolute;
    right: 4%;
    top: 20%;
    max-width: 35px;
    max-height: 35px;
}

.elipseLeftWhite svg {
    position: absolute;
    left: 4%;
    bottom: -8.5%;
    max-width: 150px;
    max-height: 150px;
    height: 40%;
    width: 40%;
}

.circleLeftGray svg {
    position: absolute;
    left: 4%;
    bottom: 7%;
    max-width: 35px;
    max-height: 35px;
    height: 90%;
    width: 90%;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

.number {
    display: flex;
    text-align: center;
    justify-content: center;
}

.bigCircleRightGray svg {
    position: absolute;
    max-width: 40%;
    max-height: 40%;
    right: -10%;
    bottom: 0%;
}

/* Sponsor CSS */

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.inv-color {
    filter: invert(100%);
}

.sponsor-wrapper {
    border: 1px solid #fd0e35;
    align-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;
}

.flexcontainer {
    display: flex;
    overflow: scroll;
}

.no-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

/* #mainPage{
  position: fixed;
  text-align: center;
  color: white;
  width: 100%;
} */

/* #mainPage{
background: url("https://pbs.twimg.com/ext_tw_video_thumb/1248732574224207872/pu/img/CVoXF3Pr-2oX6-HM.jpg") no-repeat 
  center center /cover; 
} */

/* FAQs */

.font-faq {
    color: var(--white-valo);
}

#FAQs {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.q {
    color: var(--red);
}

.faq-content {
    display: flex;
    text-align: left;
}

.unit {
    border: 2px solid var(--red);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 1.5rem;
    margin-right: 20px;
    width: 100%;
}

/* FAQs END */

/* FAQs New Start */

.FAQs-wrapper {
    margin: 5rem 0rem;
}

.faq-wrapper {
    width: 80%;
    margin: auto;
}

.accordion-header {
    color: white;
}
.accordion-button {
    color: white;
    background-color: #272727 !important;
    /* background-color: var(--black-matt) !important;
     */
}

.accordion-item {
    margin-top: 1rem;
    background-color: transparent !important;
    color: white;
    border: none;
}

.accordion-button:focus {
    outline: 0 !important;
    z-index: 3;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    /* border-color: red important;
    border: none !important;
    outline: none !important; */
}
.accordion-button:not(.collapsed) {
    color: var(--red) !important;
}

/* FAQs New End */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#mainPage .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    /* color: var(--red); */
    color: #F0CDCD;
    /* width and color */
    font-size: 80px;
    margin: 0 auto;
    font-family: "VALORANT", sans-serif;
    text-align: center;
}

/* * Home Page */

.home-page-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    padding-left: 5px;
}

.home-page-text-container {
    position: absolute;
    top: calc(var(--inner-responsive-page-height) / 2);
    left: 0;
    text-align: center;
    width: 100%;
}

.home-page-text {
    font-family: "VALORANT", sans-serif;
    margin-inline: 10vw;
    color: var(--white);
    font-size: 10vh;
    flex-wrap: wrap;
}

@media screen and (max-width: 922px) {
    .home-page-text-container {
        position: absolute;
        top: calc(var(--inner-responsive-page-height) / 2 - 10vh);
        left: 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .stats {
        text-align: center;
        display: block;
        margin: 0 auto;
        align-items: center;
        align-content: center;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        color: #ece8e1;
    }
    .stat {
        margin: 1vh;
        font-size: 2.5vh;
        padding: 1vh;
        border: 2px ridge var(--red);
        border-radius: 1rem;
        box-shadow: inset 0 0 10px var(--red);
        display: flex;
        justify-content: space-evenly;
        width: 40vh;
        text-shadow: none;
    }
    .number {
        font-size: 1.2em;
    }
    .stat:focus {
        transform: scale(1.01);
        box-shadow: inset 0 0 15px var(--red);
        animation: all 1.5s;
    }
    .number:focus,
    .term:focus {
        text-shadow: 0 0 3px var(--red);
    }
    .fa {
        color: var(--red);
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .stats {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        align-items: center;
        align-content: center;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        color: #ece8e1;
    }
    .stat {
        margin: 1vh;
        font-size: 2.5vh;
        padding: 1vh;
        border: 2px ridge var(--red);
        border-radius: 1rem;
        box-shadow: inset 0 0 10px var(--red);
        display: flex;
        justify-content: space-evenly;
        width: 70vh;
        text-shadow: none;
        text-align: center;
    }
    .number {
        font-size: 1.3em;
        display: flex;
        justify-content: center;
    }
    .stat:focus {
        transform: scale(1.01);
        box-shadow: inset 0 0 15px var(--red);
        animation: all 1.5s;
    }
    .number:focus,
    .term:focus {
        text-shadow: 0 0 3px var(--red);
    }
    .fa {
        color: var(--red);
    }
}

/*----------------The Team------------*/

/*html,body{
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
}*/

/* #team{
  margin:'0 auto';
  max-width: 1000px;
  width: 90%;
} */

.slider {
    max-width: 100%;
    display: flex;
    margin-left: 70px;
}

.card {
    display: flex;
    height: 300px;
    place-items: center;
    text-align: center;
    /*margin: 5px;*/
}

.slider .card {
    flex: 1;
    margin-left: 10px;
    background: #fffbf5;
    align-content: center;
}

.slider .card:hover {
    background: #e74c3c;
}

#heading,
#heading0 {
    color: black;
}

.card-name:hover {
    color: black;
}

.position:hover {
    color: black;
}

#card1 {
    border-top: 3px solid #fd4556 !important;
    width: 300px;
    transition: 0.5s;
}

#card1:hover {
    /*box-shadow: 0 0 2px 2px #e74c3c;*/
    background-color: #e74c3c;
    transition: 0.5s;
}

.hex-icon {
    background-color: black;
    width: 30%;
}

#team .fa {
    background-color: black;
    width: 40px;
    transition: 0.2s;
}

#team .fa:hover {
    opacity: 1;
    transition: 0.2s;
}

#team .fa-linkedin {
    align-content: center;
    background-color: #0077b5 !important;
    opacity: 0.7;
    color: white;
}

#team .fa-github {
    align-content: center;
    background-color: #000000 !important;
    opacity: 0.7;
    color: white !important;
}

#team svg {
    height: 200px;
    width: 150px;
}

#team .cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    padding-top: 5px;
    max-width: 50%;
    max-height: 50%;
}

/*.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}*/

/*.carousel-inner {
  padding: 2.5em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);

}*/

/*@media (max-width: 768px) and (min-width: 0px) {
  .slider {
    padding: 3px;
  }
  .card {
    padding: 3px;
  }
}*/

.circular-image {
    border-radius: 50%;
}

/*---------------------Team End--------------*/

/* about */

#aboutimg {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#about {
    margin: 0px 2px;
}

.abouttext {
    text-align: center;
    /* height: 285px; */
    border: solid 2px #fd4556;
    box-shadow: inset 0 0 10px #fd4556;
    font-family: georgia,sans-serif;
    border-bottom-right-radius: 20%;
}

@media only screen and (max-width: 600px) {
    .abouttext h2 {
        font-size: large;
    }
    #aboutimg {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}

#aboutmr {
    margin-top: 5%;
}

/* TEAM BEGIN */
.team-image {
    width: 100%;
    border-radius: 5%;
}

.image-container {
    width: 220px;
    margin: auto;
    /* border: 4px solid white; */
}

@media only screen and (max-width: 700px) {
    .image-container {
        max-width: 200px;
    }
}
@media only screen and (max-width: 400px) {
    .image-container {
        max-width: 150px;
    }
}

/* /* TEAM END */
