@font-face {
  font-family: "Chinese Rocks";
  src: url("/fonts/chinese_rocks.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chinese Rocks", sans-serif;
}

body {
  background-color: #000;
}