.box-header{
    font-size:2.8vw;
    color:aqua;
    text-align: center;
}


.box-contents{
  color: aliceblue;
  font-size:1.3vw;
  margin-top:20px;
  text-align: center;
  font-family: sans-serif;
}

@media screen and (max-width: 800px){
  
}
/* .glow {

    color: rgb(0, 247, 255);
    text-align: center;

} */

