.leaflet-popup-content-wrapper {
    background-image: linear-gradient(rgba(0,255,255,0.25),rgba(0, 255, 255, 0.5)) !important;
    border: 3px solid #00ffff !important;
    background: rgba(0, 0, 0, 0.7) !important;
    color: #eee !important;
    font-size: 15px;
    border-radius: 0; 
}

.leaflet-popup-tip {
    display:none;
}
