
.timeline-block {
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    position: relative;
    left:0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    height:calc(100%/5);
 }




 .timeline-block-left {
    float: left;
    direction: rtl;
 }

 .marker {
    margin-left: -2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    box-sizing:border-box;
    z-index: 999;
    max-width:16px;
    min-width: 16px;
    max-height:16px;
    min-height: 16px;
 }

 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
 }

 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }

 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
    margin-left:15px;
 }

 .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }


 @media screen and (max-width: 768px) {
    .container:before {
       left: 8px;
       width: 2px;
    }
    .timeline-block {
       width: 100%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }

    .timeline-block-left {
       float: none;
       direction: ltr;
    }
 }


 .rocketsvg{
position:absolute;
height:90px;
width:90px;
z-index:9999999;
margin-left:-40px;
margin-top:-30px;
cursor: pointer;
 }

 #alphasvg:before {
   content: "";
   display: block;
   position: absolute;
   background-color: transparent;
   cursor: pointer;
   /* plus width and height of the SVG */
   }

   span > a{
      font-weight: bolder;
   }


   .highlighted > a{
      color: #00a0a0 !important;
      font-family: Arial, Helvetica, sans-serif;
   }
