body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    overflow:hidden;
    width: 100vw;
    background: linear-gradient(90deg, #000000 20px, transparent 1%) center, linear-gradient(#000000 20px, transparent 1%) center, #00ffffc9;
  background-size: 22px 22px;
}

#fullcont{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    width:100vw;
    margin: auto;
    color:white;
    align-items: center;
    max-height:100vh;
}

#logo > img{
    vertical-align: middle;
    margin:auto;
}

#logo{
    grid-column: 1 / 13;
    width:auto;
    vertical-align: middle;
    height: 50vh;
    padding:15px;
    margin: auto;
    display: flex;
}

.typewriter{
    grid-column: 1 / 13;
    width:100%;
    height: auto;
    text-align: center;
    color: cyan;
    font-size: 2vw;
}

#counter{
    grid-column: 1 / 13;
    width:100%;
    height: auto;
    margin-top:25px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -5;
}

canvas {
    display: block;
    vertical-align: bottom;
}

@media screen and (max-width: 800px) {

body {
  background-size: 22px 22px;
}

#fullcont{
    width:90vw;
}


#logo{
    grid-column: 1 / 13;
    width:auto;
    vertical-align: middle;
    width:90%;
    height: auto;
    padding:15px;
    margin: auto;
    display: flex;
    margin-top:20px;
}

#logo>img{
    width: 100%;
}

.typewriter{
    grid-column: 1 / 13;
    width:100%;
    height: auto;
    text-align: center;
    color: cyan;
    font-size: 22px;
    margin-top:20px;
}

#counter{
    grid-column: 1 / 13;
    width:100%;
    height: auto;
    margin-top:20px;
}

}