/* For Mobiles */

@media screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  .main-content {
    flex-direction: column;
  }
  .about-text {
    width: 100%;
  }
  .main-content img {
    width: 95vw;
    margin-left: 0;
    margin: 5vw;
  }
  .sponsor-wrapper-in {
    margin-top: 4vh;
  }

  .right-heading-day2 {
    justify-content: center;
    padding: 0 2vw;
    transform: translateX(-120px) !important;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .heading {
    font-size: 6rem;
  }
  .stats-card {
    width: 200px;
    height: 200px;
  }
  .sponsor-wrapper-in {
    margin-top: 5vh;
  }
  .socials {
    display: none;
  }

  .right-heading-day2 {
    justify-content: center;
    padding: 0 2vw;
    transform: translateX(-120px) !important;
  }
}
