#hamburger {
    display: none;
}

.mobilenav {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    &__hamburger {
        margin-right: 10px;
        font-size: 3rem;
        color: var(--color-white);
    }

    &__elems {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 999;
        top: 50px;
        left: 0;
        right: 0;
    }

    &__logos {
        img {
            position: relative;
            float: left;
        }

        &--logo1 {
            img {
                margin-left: 10px;
                width: auto;
                height: 35px;
            }
        }

        &--logo2 {
            img {
                width: auto;
                height: 25px;
            }
        }
    }
}

@media screen and (max-device-width: 650px) {
    .mobilenav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    #hamburger:checked~.mobilenav__elems {
        display: flex;
        flex-direction: column;
    }
}